* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #f0f8fb;
    line-height: 1.6;
}

h2, p {
    font-family: "Anton", sans-serif;
    font-weight: 200;
}

h1, h3, h4, ul {
    font-family: "Amatic SC", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    font-size: 25px;
}

header {
    color: white;
    text-align: center;
    width: 100%;
}

.navbar {
    background-color: transparent;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
}

.navbar li {
    margin: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
}

.navbar a:hover {
    color: white;
    border-bottom: 2px solid #F0B33D;
}

.navbarmobile {
    display: none;
}

.home {
    background: url("images/femmes.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    overflow: visible;
}

.phone {
    position: relative;
    display: inline-block;
}

.num {
    display: none;
    position: absolute;
    background-color: #f9f9f928;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    white-space: nowrap;
    right: 0;
}

.phone:hover .num {
    display: block;
}

.slogan {
    z-index: 1;
    font-size: 25px;
    margin-top: 200px;
    animation: fadeIn 2s ease forwards;
    text-align: center;
    align-self: flex-end;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan h2 {
    display: flex;
    justify-content: right;
}

.ame {
    color: #F0B33D;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.propos {
    background-color: #93c65ac7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.propos h3 {
    color: white;
    font-size: 50px;
    display: flex;
    text-shadow: 1px 4px 4px rgb(0 0 0 / 39%);
}

.propos p {
    max-width: 700px;
    font-size: 20px;
    color: white;
    line-height: 1.8;
    margin-right: 40px;
    text-align: left;
    text-shadow: -1px -1px 4px rgb(0 0 0 / 39%);
}

.textpropos {
    display: block;
}

.proposmobile {
    display: none;
    font-family: "Anton", sans-serif;
    color: white;
}

.propos .logo {
    width: 400px;
    height: 400px;
    margin-top: 200px;
}

.galerie {
    padding: 80px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.galerie h3 {
    color: #f0b33d;
    text-shadow: 0px 4px 10px rgb(0 0 0 / 36%);
    font-size: 50px;
}

.photos {
    gap: 50px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 6px #f0b33d;
    padding: 30px;
}

.hidden {
    display: none;
    gap: 50px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.toggle-checkbox {
    display: none;
}

.boeufs, .pirogue {
    width: 300px;
}

.tambour {
    width: 300px;
    margin-bottom: 80px;
}

.enfants, .tamtam {
    width: 483px;
}

.tamoul {
    width: 260px;
    height: 200px;
}

.bateau, .beach, .dames {
    width: 400px;
}

.menage {
    width: 200px;
}

.photos img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background: #e0e0e0;
    min-height: 150px;
}

.photos img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.toggle-checkbox:checked~.photos .hidden {
    display: flex;
}

.voir {
    background-color: #F0B33D;
    width: 150px;
    margin-top: 20px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.voir:hover {
    background-color: #b28730;
}

.voir-moins {
    display: none;
}

.toggle-checkbox:checked~.voir .voir-plus {
    display: none;
}

.toggle-checkbox:checked~.voir .voir-moins {
    display: inline;
}

.contact {
    background: #80ACD7;
    display: flex;
    flex-direction: column;
}

.contact h3 {
    color: white;
    font-size: 50px;
    display: flex;
    text-shadow: -1px -1px 4px rgb(0 0 0 / 39%);
}

.contact h4 {
    font-size: 1.5rem;
}

.lien {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions {
    margin-top: 40px;
    padding-left: 40px;
}

.questions, .ocean {
    width: 320px;
}

.mail {
    display: flex;
    flex-direction: row;
    text-align: left;
    border: none;
    gap: 10px;
}

.mail label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.mail input, .mail textarea {
    width: 100%;
    padding-right: 60px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Anton", sans-serif;
    font-size: 12px;
    transition: border-color 0.3s;
}

.mail button {
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    background-color: #F0B33D;
    transition: background 0.3s;
}

.mail button:hover {
    background-color: black;
    color: #F0B33D;
}

.ocean {
    display: flex;
}

.ocean .logo {
    width: 100px;
    margin-bottom: 10px;
}

.textocean {
    display: flex;
    flex-direction: column;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.regroupement {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-end;
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #80ACD7;
    border-top: white solid 1px;
    font-size: 20px;
    padding: 20px;
}

@media (max-width: 1150px) {
    .navbar ul {
        gap: 80px;
    }
}

@media (max-width: 1112px) {
    .propos .logo {
        width: 350px;
        height: 350px;
        margin-bottom: auto;
        margin-top: auto;
    }
    .propos h3 {
        font-size: 45px;
    }
    .propos p {
        font-size: 18px;
    }
    .boeufs, .pirogue {
        width: 250px;
    }
    .tambour {
        width: 250px;
        margin-bottom: 60px;
    }
    .enfants, .tamtam {
        width: 400px;
    }
    .tamoul {
        width: 220px;
        height: 170px;
    }
    .bateau, .beach, .dames {
        width: 350px;
    }
    .menage {
        width: 150px;
    }
    ul {
        font-size: 20px;
    }
}

@media (max-width: 962px) {
    .propos p {
        font-size: 15px;
    }
    .boeufs, .pirogue {
        width: 200px;
    }
    .tambour {
        width: 200px;
        margin-bottom: 40px;
    }
    .enfants, .tamtam {
        width: 350px;
    }
    .tamoul {
        width: 220px;
        height: 140px;
    }
    .bateau {
        width: 300px;
    }
    .beach, .dames {
        width: 330px;
    }
    .menage {
        width: 140px;
    }
    ul {
        font-size: 17px;
    }
    .navbar ul {
        gap: 60px;
    }
    .contact h3 {
        font-size: 40px;
    }
}

@media (max-width: 856px) {
    .propos .logo {
        width: 300px;
        height: 300px;
        margin-bottom: auto;
        margin-top: auto;
    }
    .enfants, .tamtam {
        width: 300px;
    }
    .bateau {
        width: 250px;
    }
    .beach {
        width: 350px;
    }
}

@media (max-width: 777px) {
    .navbar ul {
        gap: 40px;
    }
}

@media (max-width: 706px) {
    .navbar {
        display: none;
    }
    .navbarmobile {
        display: block;
        background-color: rgb(50 39 39 / 68%);
        text-align: center;
        width: 100%;
    }
    .menu {
        position: relative;
        list-style: none;
    }
    .roll {
        display: none;
        position: absolute;
        background-color: #857e7e7f;
    }
    .menu:hover .roll {
        display: block;
    }
    .roll li {
        margin: 10px 20px;
        list-style: none;
    }
    .navbarmobile h1 {
        text-decoration: none;
        color: #ffffff;
    }
    .navbarmobile>ul {
        display: flex;
        justify-content: space-between;
        padding: 15px 40px;
        list-style: none;
        margin: 0;
        width: 100%;
        align-items: center;
    }
    .navbarmobile a {
        color: white;
        text-decoration: none;
        transition: color 0.3s, border-bottom 0.3s;
        font-size: larger;
    }
    .fa-solid.fa-bars {
        font-size: 35px;
    }
    .propos {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .propos h3 {
        justify-content: center;
    }
    .textpropos {
        display: none;
    }
    .proposmobile {
        display: block;
        text-align: center;
        font-size: 29px;
    }
    .propos p {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
    .propos .logo {
        width: 100px;
        height: 100px;
        margin-top: 0;
        position: absolute;
        margin-right: 390px;
    }
    .photos img, .photos .hidden img {
        width: -webkit-fill-available;
        max-width: 100%;
    }
    .tamoul {
        width: 220px !important;
        height: 140px;
        max-width: 220px !important;
    }
    .ocean {
        order: 1;
        font-size: 180%;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
    }
    .ocean .logo {
        width: 13%;
    }
    .textocean h4 {
        font-size: larger;
        text-align: center;
    }
    .textocean p {
        display: none;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact h3 {
        order: 2;
        font-size: 35px;
        justify-content: center;
        text-align: center;
        margin: 20px 0;
        text-shadow: 3px 4px 4px rgb(0 0 0 / 39%);
    }
    .lien {
        display: contents;
    }
    .regroupement {
        display: contents;
    }
    .questions {
        order: 4;
        padding: 0 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        padding-top: 15px;
    }
    .questions::before, .questions::after {
        content: "";
        position: absolute;
        left: 10%;
        right: 10%;
        height: 1px;
        background-color: white;
    }
    .questions::before {
        top: 0;
    }
    .questions::after {
        margin-top: 30px;
    }
    .mail {
        justify-content: center;
    }
    .mail input {
        border-radius: 30px;
    }
    .mail button {
        border-radius: 30px;
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    .infos {
        order: 3;
        font-size: larger;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    footer {
        border-top: 0;
        flex-direction: column-reverse;
        padding: 0;
    }
    .icone {
        font-size: 40px;
    }
    .cookies {
        background-color: #e0e0e0;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 492px) {
    .propos .logo {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 426px) {
    .propos .logo {
        width: 70px;
        height: 70px;
        margin-right: 300px;
    }
    .proposmobile h3 {
        font-size: 30px;
    }
    .proposmobile p {
        font-size: 20px;
    }
     .navbarmobile>ul {
        padding: 1px 20px;
    }
    .navbarmobile a {
        font-size: 25px;
    }
    .fa-solid.fa-bars {
        font-size: 23px;
    }
    .home {
        height: 340px;
    }
    .slogan {
        font-size: 9px;
        margin-top: 80px;
        padding: 3px;
        text-shadow: 2px 3px 4px rgb(0 0 0 / 39%);
    }
   
    .propos p {
        font-size: 14px;
        width: 223px;
        text-shadow: none;
    }
    .galerie h3 {
        font-size: 40px;
    }
    .proposmobile {
        font-size: 0;
    }
    .boeufs {
        order: 3;
    }
    .tambour {
        order: 1;
    }
    .pirogue {
        order: 2;
    }
    .tamtam {
        order: 5;
    }
    .enfants {
        order: 4;
    }
    .voir {
        border-radius: 30px;
        height: 30px;
        font-size: 20px;
    }
 
}

@media (max-width: 320px) {
    .navbarmobile>ul {
        padding: 1px 20px;
    }
   
   
    .home {
        height: 340px;
    }
    
    .propos .logo {
        width: 55px;
        height: 55px;
        margin-right: 248px;
    }
   .textocean h4 {
        font-size: 25px;
    }
    .ocean {
        padding-top: 3px;
    }
    .contact h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}